$white:#fff;
$font-12:.9rem;
$font-5:.5rem;
$font-4:.6rem;
$font-10:.8rem;
$font-1:.7rem;
$color:gray;

.header{
    font-weight: $font-10;
        background-color: $white !important;
    
}


.font-size-10{
    font-size:$font-12;
}
.font-size-5{
    font-size:$font-10;
}
.font-size-4{
    font-size:$font-10;
}
.font-size-4{
    font-size:$font-4;
}

.font-size-6{
    font-size:$font-1;
}